{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
<main>
    <h1 class="d-flex justify-content-center mt-2">Votre commande</h1>
    <hr class="w-75 mx-auto mt-0 mb-3">

    <div class="d-flex justify-content-center form-container mt-5 mb-5 p-3 rounded mnb">

    </div>
</main>
{% endblock %}