{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

	<main>
		<h1 class="d-flex justify-content-center mt-3">Historique de vos commandes</h1>
		<hr class="w-75 mx-auto mt-0 mb-3">
		<div class="mnb rounded p-4 d-flex justify-content-center">
			
		</div>
	</main>

{% endblock %}
