{% extends 'base.html.twig' %}

{% block title %}Toutes nos catégories
{% endblock %}

{% block body %}

	<main>
		<h1 class="d-flex justify-content-center mt-2">Toutes nos catégories</h1>
		<hr class="w-75 mx-auto mt-0 mb-3">

		<div class="justify-content-around row d-none d-md-flex">
			{% for categorie in cat %}
				<div class="card mb-3 mx-3 border-0 p-0 shd text-white col-3">
					<a href="{{ path('app_platwithcat', {'categorie_id':categorie.id}) }}">
						<h5 class="card-header">{{ categorie.libelle }}</h5>
						<div class="imgof">
							<img src="{{asset(image_dir ~ categorie.image) }}" class="card-img-bottom" alt="{{ categorie.image }}">
						</div>
					</a>
				</div>
			{% endfor %}
			<hr class="w-75 mx-auto mt-0 mb-3">
		</div>
	</main>
{% endblock %}